@inherits LayoutComponentBase

<PageTitle>ParkTracker_Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="bg-light px-4 text-end">
            <h1 class="text-success h2 py-2" style="font-weight: bold;">All Parks</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
