

<div class=" ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-center" href=""><h2 class="text-white">Park Tracker</h2></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link h4" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
      @*  <div class="nav-item px-3">
            <NavLink class="nav-link h4" href="yourparks">
                <span class="oi oi-map-marker" aria-hidden="true"></span> Your Parks
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link h4" href="addpark">
                <span class="oi oi-plus" aria-hidden="true"></span> Add a Park
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
