@page "/notes"

<h2>
    Park Tracker Application Notes && To Dos...
</h2>

<p class="bg-info p-2 rounded cursor-pointer"><b>Turn this Page into an accordion menu!</b></p>
<p class="bg-info p-2 rounded cursor-pointer"><b>Turn this Page into a todo app w/ complete toggle!</b></p>

<div class="p-5 bg-light text-primary">
    <ul class="list-group">
        <li class="list-group-item">
            <b class="h3">
                1.  Separate CRUD forms for web user & Admin
            </b>
        </li>
        <li class="list-group-item">
            <b class="h3">
                2.  File Upload
            </b>
        </li>
        <li class="list-group-item">
            <b class="h3">
                3.  Error / Success Toasts.
            </b>
        </li>
        <li class="list-group-item">
            <b class="h3">
                4.  Filtering
            </b>
        </li> 
        <li class="list-group-item">
            <b class="h3">
                5.  Lots of Conditional rendering
            </b>
        </li>  <li class="list-group-item">
            <b class="h3">
                6.  Lots of Conditional rendering
            </b>
        </li>  <li class="list-group-item">
            <b class="h3">
                7.  Reviews - description, photos, activities, tags...
            </b>
        </li>
    </ul>
</div>